<h2 class="bold-text center">Benefits of becoming a member of MDP Graphics</h2>
<br>
<div class="row free-printables-row center">
   <p class="bold-text redText">Access to all our free pirntable wall art.</p>
   <div class="col-md-4">
      <div>
         <picture>
            <source
               data-srcset="/img/free/printable/wall-art/botanical/printable-wall-art-free-download/printable-wall-art-free-download-1-pinterest-1.webp">
            <!-- Fallback -->
            <img
               data-src="/img/free/printable/wall-art/botanical/printable-wall-art-free-download/printable-wall-art-free-download-1-pinterest-1.png"
               data-srcset="/img/free/printable/wall-art/botanical/printable-wall-art-free-download/printable-wall-art-free-download-1-pinterest-1.png"
               alt="printable wall art free download" class="lazy img-responsive design-img-landingpage">
         </picture>
      </div>
   </div>
   <div class="col-md-4">
      <div>
         <picture>
            <source
               data-srcset="/img/free/printable/wall-art/botanical/free-printable-botanical-wall-art/Free-printable-botanical-wall-art-1-pinterest-1.webp">
            <!-- Fallback -->
            <img
               data-src="/img/free/printable/wall-art/botanical/free-printable-botanical-wall-art/Free-printable-botanical-wall-art-1-pinterest-1.png"
               data-srcset="/img/free/printable/wall-art/botanical/free-printable-botanical-wall-art/Free-printable-botanical-wall-art-1-pinterest-1.png"
               alt="free printable botanical wall art" class="lazy img-responsive design-img-landingpage">
         </picture>
      </div>
   </div>
   <div class="col-md-4">
      <div>
         <picture>
            <source
               data-srcset="/img/free/printable/wall-art/boho/free-printable-boho-wall-art/free-printable-boho-wall-art.webp">
            <!-- Fallback -->
            <img
               data-src="/img/free/printable/wall-art/boho/free-printable-boho-wall-art/free-printable-boho-wall-art.png"
               data-srcset="/img/free/printable/wall-art/boho/free-printable-boho-wall-art/free-printable-boho-wall-art.png"
               alt="free printable boho wall art" class="lazy img-responsive design-img-landingpage">
         </picture>
      </div>
   </div>
</div>
<div class="row free-printables-row center">
   <p class="bold-text redText">Access to all our free printable planners.</p>
   <div class="col-md-4">
      <div>
         <picture>
            <source
               data-srcset="/img/free/printable/planners/daily/free-printable-daily-planner/free-printable-daily-planner-pinterest.webp">
            <!-- Fallback -->
            <img
               data-src="/img/free/printable/planners/daily/free-printable-daily-planner/free-printable-daily-planner-pinterest.png"
               data-srcset="/img/free/printable/planners/daily/free-printable-daily-planner/free-printable-daily-planner-pinterest.png"
               alt="free printable daily planner" class="lazy img-responsive design-img-landingpage">
         </picture>
      </div>
   </div>
</div>
<br>
<div class="row free-printables-row center">
   <p class="bold-text redText">30% Etsy store discount</p>
</div>
<br>
<div class="row free-printables-row center">
   <p class="bold-text redText">30% Website store discount</p>
</div>
<br>
<div class="row free-printables-row center">
   <p class="bold-text redText">Special offers</p>
</div>