<!DOCTYPE html>
<html lang="en">
  <body>
    <main>
     
      <style>
      body{
        font-size: 25px;
      }
        .test-title{
          width: 100%;
        }
        table td {
          padding: 5px;
          border: 1px solid;
        }

        table th {
          background-color: antiquewhite;
        }
      
      </style>
      {{partial "site-test.html" . }}
<h1> <a href="/test/frames/">Frames</a> <a href="/test/cards/">Cards</a> <a href="/test/prints/">Prints</a></h1>
   
   

      {{ if eq .RelPermalink "/test/cards/" }}
      {{$type :=""}} {{ $section := site.GetPage "cards" }} {{ range
      $section.Pages }} {{ $type = .Type }}
     
      <h2>{{ .Params.title }}</h2>
   
      <table class="test-table">
        <tr>
          <th>Date</th>
          <th class="test-title">Title</th>
          <th>Price</th>
          <th>Weight</th>
          <th>Stock</th>
          <th>Link</th>       
        </tr>
        {{ range (where .Site.Pages "Type" "cards") }} {{ if eq
        .Params.productType $type }}
        <tr>
          <td>{{.Params.creationDate }}</td>
          <td>{{.Params.title}}</td>
          <td>{{.Params.price}}</td>
          <td>{{.Params.weight}}</td>
          <td>{{.Params.stock}}</td>
          <td><a href="{{.RelPermalink}}" target="_blank">Link</a></td>        
        </tr>
        {{ end }} {{ end }}
      </table>
      {{ end }} {{end}}

   




      {{ if eq .RelPermalink "/test/frames/" }}
      {{$type :=""}} {{ $section := site.GetPage "frames" }} {{ range
      $section.Pages }} {{ $type = .Type }}
     
      <h2>{{ .Params.title }}</h2>
    
      <table class="test-table">
        <tr>
          <th>Date</th>
          <th class="test-title">Title</th>
          <th>Price</th>
          <th>Weight</th>
          <th>Stock</th>
          <th>Link</th>
        </tr>
        {{ range (where .Site.Pages "Type" "frames") }} {{ if eq
        .Params.productType $type }}
        <tr>
          <td>{{.Params.creationDate }}</td>
          <td>{{.Params.title}}</td>
          <td>{{.Params.price}}</td>
          <td>{{.Params.weight}}</td>
          <td>{{.Params.stock}}</td>
          <td><a href="{{.RelPermalink}}" target="_blank">Link</a></td>
        </tr>
        {{ end }} {{ end }}
      </table>
      {{ end }} {{end}}
  






      {{ if eq .RelPermalink "/test/prints/" }}
      {{$type :=""}} {{ $section := site.GetPage "prints" }} {{ range
      $section.Pages }} {{ $type = .Type }}
   
      <h2>{{ .Params.title }}</h2>
     
      <table class="test-table">
        <tr>
          <th>Date</th>
          <th class="test-title">Title</th>
          <th>Price</th>
          <th>Weight</th>
          <th>Stock</th>
          <th>Link</th>
        </tr>
        {{ range (where .Site.Pages "Type" "prints") }} {{ if eq
        .Params.productType $type }}
        <tr>
          <td>{{.Params.creationDate }}</td>
          <td>{{.Params.title}}</td>
          <td>{{.Params.price}}</td>
          <td>{{.Params.weight}}</td>
          <td>{{.Params.stock}}</td>
          <td><a href="{{.RelPermalink}}" target="_blank">Link</a></td>
        </tr>
        {{ end }} {{ end }}
      </table>
      {{ end }} {{end}}
    </main>
  </body>
</html>
