<div class="row">
   <div class="col-md-12">
      <div id="landingPageImageAndStats">
         <img src="{{ .Page.Params.image | relURL}}.webp" class="{{ .Page.Params.class }}" alt="{{ .Page.Params.alt }}">
         
      </div>
   </div>
   
</div>

<br>

<p>We have finally upgraded our website. Why? to make it easier to update, faster, and more mobile and user-friendly. We have also updated our product list with many new designs for frames. We now sell cards also, and the famous frame and card package is still available (purchase a frame and upgrade to include a card that is personalised to suite the frame and occasion).</p>

