{{ define "main" }}
<main>
  {{partial "heading-1.html" . }}
  <section class="grid grid-main">

    <section class="normal-width-element">
      <br /><br />
      <h3>Processing time</h3>
      <p>
        Please note it takes approximately 5 to 7 working days for me to process
        an order as it is custom-made. It may take slightly longer if it is
        especially designed for you. I promise you it will be worth the wait. If
        you want a frame sent directly to a loved one or friend, I will send you
        a mock-up of your order and then a picture of what I dispatched on your
        behalf. I never include prices in what I dispatch. Frames are wrapped in
        bubble wrap and sent in a brown cardboard box to protect them on their
        journey.
      </p>
      <br /><br />
      <h3>Estimated shipping times</h3>
      <p>
        Ireland 3 - 5 business days. United Kingdom 5 - 10 business days.
        European Union 5 - 10 business days. United States of America 15 - 20
        business days. Canada 15 - 20 business days. (please make sure your
        shipping address is correct, if you provide an incorrect shipping
        address it will result in an additional charge.)
      </p>
      <br /><br />
      <h3>Returns & Exchanges</h3>
      <p>
        Custom orders cannot be returned or exchanged. However, if you have
        received your order and there is a problem with it, please contact me
        within 5 days of receiving it. Depending on the nature of the issue,
        there may be an additional charge to fix it. Buyers are responsible for
        the return postage costs. If the item is not returned in its original
        packaging and condition, the buyer is responsible for any loss in value.
      </p>
      <br /><br />
      <h3>Amendments</h3>
      <p>
        If the buyer makes a mistake on customisation details for an order, they
        must contact me immediately with the correct details. If no contact has
        been made before the order is processed, the buyer will be responsible
        for and have to pay an extra charge to fix the issue.
      </p>
      <br /><br />
      <h3>Cancellations</h3>
      <p>
        If you would like to cancel your order, please contact me within 24
        hours of placing it.
      </p>
      <br /><br />
      <h3>Stocks & Supplies</h3>
      <p>
        Sometimes I may not be able to make the exact same item as shown on my
        website due to stock levels. I will contact you in relation to this and
        offer an alternative. If you are not happy with this, I will offer you a
        full refund.
      </p>
      <br /><br />
    </section>
  </section>
</main>
{{end}}