<section class="bar background-white no-mb">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="heading text-center">
               <h1>PERSONALISED FRAMES IRELAND</h1>
            </div>
            <p>We try to source all of our frames in Ireland. 90% of them are handmade by a company in Cork and made using high quality materials. We ship our frames nationwide. Please contact us if you require a frame to be shipped worldwide, and we can see if we can accommodate your request.</p>

<p>We also create high quality personalised frames and cards to match our frames for all occasions. We are proud to say our clients give us very good feedback and many 5-star ratings.</p>

<p>Furthermore, we offer personalised frames using word tiles, and also we can do a printed design in a personalised gift frames. Whether you are looking for personalised frames Ireland, or personalised box frames Ireland, we have frames to suit.</p>

<p>Clients have the option to personalise our frames with any name/s or words. We have created many personalised name frames for various occasions including baby, family, wedding, new house and personalised birthday frame. Our range also includes Irish blessings, communion, kids, memorial frames Ireland, teachers, fathers day, mothers day.</p>

<p>Please contact me to discuss your options if you have an idea for a frame in mind. You can also order directly through our custom order form. </p>
         </div>
         <div class="col-md-6 col-center-vertical">
            <picture>
               <!-- Large screens -->
               <source
                  media="(min-width: 535px)"
                  data-srcset="/img/index-page-image-1.webp">
               <!-- Small screens -->
               <source
                  media="(max-width: 534px)"
                  data-srcset="/img/index-page-image-1.webp">
               <!-- Fallback -->
               <img
                  data-src="/img/index-page-image-1.png"
                  data-srcset="/img/index-page-image-1.png"
                  alt="ddd" class="lazy img-responsive">
            </picture>
         </div>
      </div>
      
   </div>
   <!-- /.container -->
</section>
<!-- /.bar -->