<footer class="grid grid-main color3-bg text-center">
  <section class="normal-width-element">
    <ul class="grid grid-footer list-reset">
      <li class="padding-small"><h2>About</h2>
        <p>I chose the name Shauna Gra because our beautiful daughter is called Shauna, which means Present from God in
          Irish, and Gra means love in Irish. So we thought combining the two fitted perfectly with what we were hoping
          to achieve, handcrafted gifts made with lots of love.</p></li>
      <li class="padding-small"><h2>Links</h2>
        <ul class="list-reset">
          <li><a href="/">Home</a></li>
          <li><a href="/frames/">Frames</a></li>
          <li><a href="/cards/">Cards</a></li>
          <li><a href="/prints/">Prints</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/reviews/">Reviews</a></li>
          <li><a href="/contact/">Contact</a></li>
          <li><a href="/policies/">Policies</a></li>
  
        </ul></li>
        <li class="padding-small"><h2>Contact</h2>
        <p>If you would like to contact us with any questions.</p>
        <a href="/contact/">Contact us</a></li>
        <li class="padding-small"> <h2>Sign Up</h2>
        <p>Why not signup to our members area and get lifetime discounts, and special offers.</p>
        <a href="/signup">Signup</a></li>
    </ul>
  </section>
  <section class="full-width-element color1-bg">
    <aside class="inner-block-left flex-center">
      <p>&copy 2024 Shauna Gra</p>
    </aside>
    <aside class="inner-block-right flex-center">
      <p>Website developed by MDP Web Development</p>
    </aside>
  </section>
</footer>