<section class="grid grid-main gradient-secondary">
  <aside class="normal-width-element margin-large-t-b">
    <h2 id="customer-reviews">Customer feedback</h2>
    <p>Here is just a sample of our 200 reviews (Etsy & Google combined)</p>
    <ul class="grid grid-products padding-small list-reset">
      {{ range .Site.Data.testimonials }} {{ partial "review-snippet.html" . }} {{
      end }}
    </ul>
  </aside>
</section>


<section class="grid grid-main gradient-light ">
  <article class="normal-width-element margin-large-t-b">
    <h2 id="sign-up">Get 20% off today</h2>
    <p class="padding-small">Get 20% off all personalised frames, cards, and prints. Just sign up today and use the
      discount code in your email. Your information is protected by GDPR and will never be shared. You can un-subscribe
      at any time.</p>


    <ul class="grid grid-footer list-reset">
      <li class="padding-small">
        <img src="/img/custom-orders.webp" class="img-responsive" alt="Custom orders"/>
      </li>
      <li class="padding-small">
        <img src="/img/handmade-frames.webp" class="img-responsive" alt="Handmade frames"/>
      </li>
      <li class="padding-small">
        <img src="/img/personalised-cards.webp" class="img-responsive" alt="Personalised cards"/>
      </li>
      <li>
        <img src="/img/promo-code.webp" class="img-responsive" alt="Promotion code"/>
      </li>
    </ul>

    <!-- Begin Mailchimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
      #mc_embed_signup {
        background: #fff;
        clear: left;
        font: 14px Helvetica, Arial, sans-serif;
      }

      /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
             We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
      <form
        action="https://shaunagra-custom-frames.us20.list-manage.com/subscribe/post?u=e6c147247df9fbe03f251227d&amp;id=659b757c18"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
        novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="indicates-required">
            <span class="asterisk">*</span> indicates required
          </div>
          <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
            </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"/>
          </div>
          <div class="mc-field-group">
            <label for="mce-FNAME">First Name </label>
            <input type="text" value="" name="FNAME" class="" id="mce-FNAME"/>
          </div>
          <div class="mc-field-group">
            <label for="mce-LNAME">Last Name </label>
            <input type="text" value="" name="LNAME" class="" id="mce-LNAME"/>
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display: none"></div>
            <div class="response" id="mce-success-response" style="display: none"></div>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px" aria-hidden="true">
            <input type="text" name="b_e6c147247df9fbe03f251227d_659b757c18" tabindex="-1" value=""/>
          </div>
          <input type="submit" value="GET 20% OFF" name="subscribe" id="mc-embedded-subscribe"
            class="shopping-buttons-color"/>
        </div>
      </form>
    </div>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script type="text/javascript">
      (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = "EMAIL";
        ftypes[0] = "email";
        fnames[1] = "FNAME";
        ftypes[1] = "text";
        fnames[2] = "LNAME";
        ftypes[2] = "text";
      })(jQuery);
      var $mcj = jQuery.noConflict(true);
    </script>
    <!--End mc_embed_signup-->
    <!--<a class="buyNowButton shopping-buttons-color" href="../../shop/" >SHOP NOW</a>-->

  </article>
</section>

<footer class="grid grid-main gradient-main color2 ">
  <section class="normal-width-element margin-large-t-b box-shadow color1-bg">
    <ul class="grid grid-footer list-reset footer-links">
      <li class="padding-small">
        <h2>About</h2>
        <p>I chose the name Shauna Gra because our beautiful daughter is called Shauna, which means Present from God
          in
          Irish, and Gra means love in Irish. So we thought combining the two fitted perfectly with what we were
          hoping
          to achieve, handcrafted gifts made with lots of love.</p>
      </li>
      <li class="padding-small">
        <h2>Links</h2>
        <ul class="list-reset">
          <li><a href="/">Home</a></li>
          <li><a href="/frames/">Frames</a></li>
          <li><a href="/cards/">Cards</a></li>
          <li><a href="/prints/">Prints</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/reviews/">Reviews</a></li>
          <li><a href="/contact/">Contact</a></li>
          <li><a href="/policies/">Policies</a></li>

        </ul>
      </li>
      <li class="padding-small">
        <h2>Contact</h2>
        <p>If you would like to contact us with any questions.</p>
        <a href="/contact/">Contact us</a>
      </li>
      <li class="padding-small">
        <h2>Sign Up</h2>
        <p>Why not signup to our members area and get lifetime discounts, and special offers.</p>
        <a href="#sign-up">Signup</a>
      </li>
    </ul>
  </section>
  <section class="full-width-element ">
    <aside class="inner-block-left flex-center">
      <p>&copy 2024 Shauna Gra</p>
    </aside>
    <aside class="inner-block-right flex-center">
      <p>Website developed by MDP Web Development</p>
    </aside>
  </section>
</footer>