<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PV4YTJ1HD2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PV4YTJ1HD2');
</script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
    {{ $myStyle := resources.Get "css/myStyle.css" | minify }}
    <style type="text/CSS">
      {{ $myStyle.Content | safeCSS  }} 
      </style>
  
    <script src="/js/myJs.js"></script>

  </head>