{{ $pageurl := .Permalink }}
      <p class="bold-text center">Share on:</p>

      <a href="https://www.facebook.com/share.php?u={{ $pageurl }}" class="btn btn-share btn-template-main"> <img src="/img/facebook.webp" class="share-buttons"></a>
      
      <a href="http://twitter.com/intent/tweet?text={{.Title}}&url={{ $pageurl }}" class="btn btn-share btn-template-main"> <img src="/img/twitter.webp" class="share-buttons"></a>
      
      <div class="mail btn btn-share btn-template-main" title="Share this through Email" onclick="window.open('mailto:?&body={{ $pageurl }}');">
      <img src="/img/email.webp" class="share-buttons">
      
   </div>
      <span class ="btn btn-share btn-template-main"> <a data-pin-do="buttonBookmark" data-pin-count="beside" data-pin-tall="false" href="https://www.pinterest.com/pin/create/button/?url=&media=&description="></a></span>


