<section class="">
   <div class="container">
      <div class="row">
         <hr class="prod-box-line">
         <h2 class="center">Personalised Baby Cards</h2>

          <p>Our baby gift frames can be used for any baby occasion, including: Personalised Baby Frames - Personalised Christening Frames - New Baby Frames - Frames For Newborn Babies - Newborn Baby Girl Presents - Gift For A Baby Girl - Gift For A Baby Boy - Gift  frame embellishments are all behind the safety glass, the frames are safe for infants, and make perfect baby presents. We are in Dublin Ireland, so postage is not expensive for up to three frames.</p>
   <hr class="prod-box-line">
   <br><br>
         {{ range (where .Site.Pages "Type" "cards") }}
         {{ if eq .Params.productType "baby" }}
         {{ partial "product/product-thumbnail.html" . }}
         {{ end }}
         {{ end }}
      </div>
   
      <div class="row">
         <br>
         <br>
         <hr class="prod-box-line">
         <h2 class="center">Personalised Home Cards</h2>
         <p>I love making New House Cards for couples with a twist.  So I use the Irish language and put “Teach Nua” on my cards.  I also use 3d embellishments too as it makes them extra special than just a printed card.  My housewarming cards are suitable for young couples or a family moving in to their first house or trading up.  I use cute little wooden houses on my cards or wooden keys either.  I also personalise these cards too with the first name or family name and the month they moved in to their new house.</p>
         <hr class="prod-box-line">
         <br>
         <br>
         {{ range (where .Site.Pages "Type" "cards") }}
         {{ if eq .Params.productType "home" }}
         {{ partial "product/product-thumbnail.html" . }}
         {{ end }}
         {{ end }}
      </div>
      <div class="row">
         <br>
         <br>
         <hr class="prod-box-line">
         <h2 class="center">Personalised Irish Cards</h2>
         <p>I love to make cards in the Irish language for all sorts of occasions.  In particular I tend to make them for engagements, weddings, new baby, pet loss etc.  If you don't see a card for the occasion you would like please get in touch.  I may even have one designed for the occasion you require!</p>
         <hr class="prod-box-line">
         <br>
         <br>
         {{ range (where .Site.Pages "Type" "cards") }}
         {{ if eq .Params.productType "irish" }}
         {{ partial "product/product-thumbnail.html" . }}
         {{ end }}
         {{ end }}
      </div>
      <div class="row">
         <br>
         <br>
         <hr class="prod-box-line">
         <h2 class="center">Personalised Wedding Cards</h2>
         <p>One of my favourite items to make are my unique Irish Wedding Day cards.  My designs are unique to the designs that are out there as I use cute little embellishments to give them a three dimensional effect.  To go that extra mile too I can include beautiful white ribbon too.  My handmade Irish wedding cards are perfect for civil ceremonies, as a gay wedding day card or a lesbian wedding card.  My LGBT cards are actual some of my best selling cards too!  A small selection is up on my website but I will be continually adding more of my cards over the next few months.  If you have seen one of my designs on Etsy and would like to purchase through my website, please get in touch and I can organise this for you. </p>
         <hr class="prod-box-line">
         <br>
         <br>
         {{ range (where .Site.Pages "Type" "cards") }}
         {{ if eq .Params.productType "wedding" }}
         {{ partial "product/product-thumbnail.html" . }}
         {{ end }}
         {{ end }}
      </div>
   </div>
</section>