                        <div class="col-md-3 center post ">
                           <div class="product-thumbnail">
                              
                               <a href="{{ .Permalink }}">
                              {{ partial "imgSrcsetMedium.html" . }}
                           </a>
                           <h2 class="h2-product"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                           {{ if .Params.saleOn }}
                           <span class="productPrice">&euro;{{ .Params.price }}</span> <span class="productPreviousPrice">&euro;{{ .Params.downFrom }}</span>
                           {{ else }}
                           <span class="productPrice">&euro;{{ .Params.price }}</span>
                           {{ end }}
                           {{ partial "product/product-add-to-cart-buttons.html" . }}


                              
                           </div>
                          
                        </div>