{{ if eq .Params.productGroup "frames" }}
<div class="row">
   <hr class="prod-box-line">
   <h1>Frames FAQ</h1>
   <hr class="prod-box-line">
   <div class="col-md-12">
      <h2>Are they good quality</h2>
      <p>Yes, the frames are of high quality timber, they are rigid and strong, we don't purchase cheap materials.</p>
      <h2>How do I hang them</h2>
      <p>All the frames come with a back hook attached. Some of our frames can be wall mounted or freestanding. Please see the frame photos for more examples. You just need a hook on your wall to mount the frame.</p>
      <h2>Do you provide hanging hooks</h2>
      <p>No, you can purchase hanging hooks in most diy stores.</p>
      <h2>What sizes are available</h2>
      <p>Our frames come in many sizes including 23cm x 23cm, 15cm x 20cm and 17cm x 13cm.</p>
      <h2>What colours are available</h2>
      <p>White, Black, Timber, (please see frame photos for examples)</p>
   </div>
</div>
{{ end }}
{{ if eq .Params.productGroup "cards" }}
<div class="row">
   <hr class="prod-box-line">
   <h1>Cards FAQ</h1>
   <hr class="prod-box-line">
   <div class="col-md-12">
      <h2>Are they good quality cards</h2>
      <p>Yes, they are strong and have a gsm from 250 up to 300 thick.</p>
      <h2>What card sizes are available</h2>
      <p>6 by 6 and 5 by 7 inches.</p>
      <h2>What colour are the cards</h2>
      <p>White or Cream. We have a few on brown recycled card.</p>
      <h2>What can I have on the card</h2>
      <p>Any embellishment you see on the site on a frame or card. Please contact us if you have a particular request.</p>
      <h2>Do you supply an envelope</h2>
      <p>All cards come with an envelope of the same colour.</p>
   </div>
</div>
{{ end }}