                        <div class="col-md-3 center post ">
                           <div class="product-thumbnail">
                              
                               <a href="{{ .Permalink }}">
                              {{ partial "imgSrcsetMedium.html" . }}
                           </a>
                           <h2 class="h2-product"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                           
                           <span class="productPrice">&euro;{{ .Params.price }}</span>
                           
                           {{ partial "product/product-add-to-cart-buttons.html" . }}
                           <aside class="members-discount">
                              <p>Or sign up for 20% OFF</p>
                           <a href="{{ "/signup/" | relURL }}" class="btn btn-template-main btn-top-page">GET DISCOUNT</a>
                           </aside>
                           
                           </div>
                          
                        </div>