{{ if eq .Params.productGroup "frames" }}
<div class="row">
   <div class="col-md-6">
      <a href="#{{ .Site.Params.testimonials.title }}">
<img class="img-responsive" src="/img/product-review-ratings-left.webp">
</a>
   </div>
   <div class="col-md-6">
      <a href="#{{ .Site.Params.testimonials.title }}">
<img class="img-responsive" src="/img/product-review-ratings-right.webp">
</a>
   </div>
</div>
<hr class="prod-box-line">
<ul>
   <li>{{ .Params.frameSize }}</li>
   <li>{{ .Params.frameFront }}</li>
   <li>{{ .Params.frameMounting }}</li>
</ul>
<hr class="prod-box-line">

<table class="product-custom-boxes">
   <tr>
      {{ if eq .Params.productType "baby" }} 
      <td>Baby's Name...</td>
      {{ end }}
      {{if .Params.buttonBabyDateOfBirth}}
      <td>Date Of Birth...</td>
      {{ end }}
      {{if .Params.buttonChristeningDate}}
      <td>Christening Date...</td>
      {{ end }}
      {{if .Params.buttonRequiredNames}}
      <td>Required Names...</td>
      {{ end }}
      {{if .Params.buttonCoupleFirstNames}}
      <td>Couples First Names...</td>
      {{ end }}
      {{if .Params.buttonWeddingDate}}
      <td>Date Of Wedding...</td>
      {{ end }}
      {{if .Params.buttonCoupleInitials}}
      <td>Couples Initials...</td>
      {{ end }}
      {{ if eq .Params.productType "irish" }} 
      <td>Message To Shauna Gra...</td>
      {{ end }}
   </tr>
   <tr>
      {{ if .Params.buttonBabyTimeOfBirth }}
      <td>Time Of Birth...</td>
      {{ end }}
      {{ if .Params.buttonBabyWeight }}
      <td>Weight...</td>
      {{ end }}
   </tr>
</table>
<div class="row">
   <div class="col-md-6 center"> 
      {{ if .Params.saleOn }}
      <span class="productPrice">&euro;{{ .Params.price }}</span> <span class="productPreviousPrice">&euro;{{ .Params.downFrom }}</span>
      {{ else }}
      <span class="productPrice">&euro;{{ .Params.price }}</span>
      {{ end }}
   </div>
   <div class="col-md-6 productPrice center">
      <p>{{ .Params.stockLeft }}</p>
   </div>
</div>
{{ end }}
{{ if eq .Params.buttonType "card-baby-boy-or-girl-name-date-time-weight" }}
<div class="row">
   <div class="col-md-6">
      <a href="#{{ .Site.Params.testimonials.title }}">
<img class="img-responsive" src="/img/product-review-ratings-left.webp">
</a>
   </div>
   <div class="col-md-6">
      <a href="#{{ .Site.Params.testimonials.title }}">
<img class="img-responsive" src="/img/product-review-ratings-right.webp">
</a>
   </div>
</div>
<hr class="prod-box-line">
<ul>
   <li>{{ .Params.cardSize }}</li>
   <li>{{ .Params.cardColor }}</li>
</ul>
<hr class="prod-box-line">
<table class="product-custom-boxes">
   <tr>
      <td>Baby's Name...</td>
      <td>Date Of Birth...</td>
   </tr>
   <tr>
      <td>Time Of Birth...</td>
      <td>Weight...</td>
   </tr>
</table>
<div class="row">
   <div class="col-md-6 center"> 
      {{ if .Params.saleOn }}
      <span class="productPrice">&euro;{{ .Params.price }}</span> <span class="productPreviousPrice">&euro;{{ .Params.downFrom }}</span>
      {{ else }}
      <span class="productPrice">&euro;{{ .Params.price }}</span>
      {{ end }}
   </div>
   
   <div class="col-md-6 productPrice center">
      <p>{{ .Params.stockLeft }}</p>
   </div>
</div>
{{ end }}



{{ if eq .Params.productGroup "cards" }}
<div class="row">
   <div class="col-md-6">
      <a href="#{{ .Site.Params.testimonials.title }}">
<img class="img-responsive" src="/img/product-review-ratings-left.webp">
</a>
   </div>
   <div class="col-md-6">
      <a href="#{{ .Site.Params.testimonials.title }}">
<img class="img-responsive" src="/img/product-review-ratings-right.webp">
</a>
   </div>
</div>
<hr class="prod-box-line">
<ul>
   <li>{{ .Params.cardSize }}</li>
   <li>{{ .Params.cardColor }}</li>
   <li>Envelope Included</li>
  
</ul>
<hr class="prod-box-line">

<table class="product-custom-boxes">
   <tr>
      {{ if eq .Params.productType "baby" }} 
      <td>Baby's Name...</td>
      {{ end }}
      {{if .Params.buttonBabyDateOfBirth}}
      <td>Date Of Birth...</td>
      {{ end }}
      {{if .Params.buttonChristeningDate}}
      <td>Christening Date...</td>
      {{ end }}
      {{if .Params.buttonRequiredNames}}
      <td>Required Names...</td>
      {{ end }}
      {{if .Params.buttonCoupleFirstNames}}
      <td>Couples First Names...</td>
      {{ end }}
      {{if .Params.buttonWeddingDate}}
      <td>Date Of Wedding...</td>
      {{ end }}
      {{if .Params.buttonCoupleInitials}}
      <td>Couples Initials...</td>
      {{ end }}
      {{ if eq .Params.productType "irish" }} 
      <td>Message To Shauna Gra...</td>
      {{ end }}
   </tr>
   <tr>
      {{ if .Params.buttonBabyTimeOfBirth }}
      <td>Time Of Birth...</td>
      {{ end }}
      {{ if .Params.buttonBabyWeight }}
      <td>Weight...</td>
      {{ end }}
   </tr>
</table>
<div class="row">
   <div class="col-md-6 center"> 
      {{ if .Params.saleOn }}
      <span class="productPrice">&euro;{{ .Params.price }}</span> <span class="productPreviousPrice">&euro;{{ .Params.downFrom }}</span>
      {{ else }}
      <span class="productPrice">&euro;{{ .Params.price }}</span>
      {{ end }}
   </div>
   <div class="col-md-6 productPrice center">
      <p>{{ .Params.stockLeft }}</p>
   </div>
</div>
{{ end }}
{{ if eq .Params.buttonType "card-baby-boy-or-girl-name-date-time-weight" }}
<div class="row">
   <div class="col-md-6">
      <a href="#{{ .Site.Params.testimonials.title }}">
<img class="img-responsive" src="/img/product-review-ratings-left.webp">
</a>
   </div>
   <div class="col-md-6">
      <a href="#{{ .Site.Params.testimonials.title }}">
<img class="img-responsive" src="/img/product-review-ratings-right.webp">
</a>
   </div>
</div>
<hr class="prod-box-line">
<ul>
   <li>{{ .Params.cardSize }}</li>
   <li>{{ .Params.cardColor }}</li>
</ul>
<hr class="prod-box-line">
<table class="product-custom-boxes">
   <tr>
      <td>Baby's Name...</td>
      <td>Date Of Birth...</td>
   </tr>
   <tr>
      <td>Time Of Birth...</td>
      <td>Weight...</td>
   </tr>
</table>
<div class="row">
   <div class="col-md-6 center"> 
      {{ if .Params.saleOn }}
      <span class="productPrice">&euro;{{ .Params.price }}</span> <span class="productPreviousPrice">&euro;{{ .Params.downFrom }}</span>
      {{ else }}
      <span class="productPrice">&euro;{{ .Params.price }}</span>
      {{ end }}
   </div>
   s
   <div class="col-md-6 productPrice center">
      <p>{{ .Params.stockLeft }}</p>
   </div>
</div>
{{ end }}