<div class="panel panel-default sidebar-menu">
   <div class="panel-body">
      <ul class="nav nav-pills nav-stacked">

         {{ $current := . }}
         {{ if in .RelPermalink "/frames/" }}
         <p class="center">FRAMES</p>
         {{ range (readDir "content/frames/") }}
         {{ if .IsDir }}
         <a href="{{ "/frames/" | relURL }}{{ .Name | urlize | lower }}" 
         {{ if in $current.RelPermalink (.Name | urlize | lower | printf "/frames/%s/") }} class="btn btn-template-main sideBarButtons active"{{ end }}
         class="btn btn-template-main sideBarButtons">{{ .Name }}</a>			    
         {{ end }}
         {{ end }}
         {{ else if in .RelPermalink "/cards/" }}
         <p class="center">CARDS</p>
         {{ range (readDir "content/cards/") }}
         {{ if .IsDir }}
         <a href="{{ "/cards/" | relURL }}{{ .Name | urlize | lower }}" 
         {{ if in $current.RelPermalink (.Name | urlize | lower | printf "/cards/%s/") }} class="btn btn-template-main sideBarButtons active"{{ end }}
         class="btn btn-template-main sideBarButtons">{{ .Name }}</a>			    
         {{ end }}
         {{ end }}                
          
         {{ end }}       
      </ul>
   </div>
</div>