{{ if eq .Params.productGroup "frames" }}
<a title="Add To Cart" href="#" class="snipcart-add-item" 
   data-item-id="{{ .Params.title }}" 
   data-item-weight="{{ .Params.weight }}" 
   data-item-name="{{ .Params.title }}" 
   data-item-image="{{ .Params.image }}-1-small.webp" 
   data-item-price="{{ .Params.price }}" 
   data-item-url="{{ .Permalink }}" 

   {{ if eq .Params.productType "baby" }}
      data-item-custom1-name="Babys first name only"
      data-item-custom1-required="true" 

      data-item-custom2-name="Boy or girl?" 
      data-item-custom2-required="true" 

      data-item-custom3-name="Date format" 
      data-item-custom3-options="EU (day-month-year)(23-5-18)[+0.00]|USA (month-day-year)(5-23-18)[+0.00]" 
      data-item-custom3-required="true" 

      {{ if .Params.buttonBabyDateOfBirth }}
      data-item-custom4-name="DOB IN ABOVE FORMAT" 
      data-item-custom4-required="true" 
      {{ end }}

      {{ if .Params.buttonChristeningDate }}
      data-item-custom5-name="CHRISTENING DATE IN ABOVE FORMAT" 
      data-item-custom5-required="true" 
      {{ end }}

      {{ if .Params.buttonBabyTimeOfBirth }}
      data-item-custom6-name="TIME OF BIRTH" 
      data-item-custom6-required="true" 
      {{ end }}

      {{ if .Params.buttonBabyWeight }}
      data-item-custom7-name="BABY WEIGHT" 
      data-item-custom7-required="true" 
      {{ end }}

      {{ if .Params.buttonBackgroundOption }}
      data-item-custom8-name="Background options" 
      data-item-custom8-options="As seen|1|2|3" 
      {{ end }}

      data-item-custom9-name="Pricing options" 

      data-item-custom9-options="Frame Only[+0.00]|Frame & (Birthday Card) Package (+3.50 Euro)[+3.50]|Frame & (Christening Card) Package (+3.50 Euro)[+3.50]" 
   {{ end }}

   {{ if eq .Params.productType "family" }}
   
      {{ if .Params.buttonRequiredNames }}
      data-item-custom1-name="REQUIRED NAMES" 
      data-item-custom1-required="true" 
      {{ end }}
   
      data-item-custom2-name="Pricing options" 
      data-item-custom2-options="Frame (up to 25 letters)[+0.00]|Frame & Card Package (up to 25 letters) (+3.50 Euro)[+3.50]|Frame (26 to 40 letters)[+5.00]|Frame & Card Package (26 to 40 letters) (+3.50 Euro)[+8.50]" 
   {{ end }}

   {{ if eq .Params.productType "wedding" }}
   
      {{ if .Params.buttonCoupleFirstNames }}
      data-item-custom1-name="COUPLES FIRST NAMES" 
      data-item-custom1-required="true" 
      {{ end }}

      data-item-custom2-name="Date format" 
      data-item-custom2-options="EU (day-month-year)(23-5-18)[+0.00]|USA (month-day-year)(5-23-18)[+0.00]" 
      data-item-custom2-required="true" 

      {{ if .Params.buttonWeddingDate }}
      data-item-custom3-name="WEDDING DATE IN ABOVE FORMAT" 
      data-item-custom3-required="true" 
      {{ end }}

      data-item-custom4-name="Pricing options" 
      data-item-custom4-options="Frame Only[+0.00]|Frame & Card Package (+3.50 Euro)[+3.50]" 
   {{ end }}

    {{ if eq .Params.productType "house" }}
   
      {{ if .Params.buttonCoupleInitials }}
      data-item-custom1-name="COUPLES INITIALS" 
      data-item-custom1-required="true" 
      {{ end }}

      data-item-custom4-name="Pricing options" 
      data-item-custom4-options="Frame Only[+0.00]|Frame & Card Package (+3.50 Euro)[+3.50]" 
   {{ end }}

   {{ if eq .Params.productType "irish" }}
   
     
   {{ end }}

   {{ if eq .Params.productType "birthday" }}
   
      data-item-custom4-name="Pricing options" 
      data-item-custom4-options="Frame Only[+0.00]|Frame & Card Package (+3.50 Euro)[+3.50]"
     
   {{ end }}

   
   data-item-custom10-name="Message to Shauna Gra" 
   data-item-custom10-type="textarea">
<span class="buyNowButton shopping-buttons-color">ADD TO CART</span>
</a>
{{ end }}



{{ if eq .Params.productGroup "cards" }}
<a title="Add To Cart" href="#" class="snipcart-add-item" 
   data-item-id="{{ .Params.title }}" 
   data-item-weight="{{ .Params.weight }}" 
   data-item-name="{{ .Params.title }}" 
   data-item-image="{{ .Params.image }}-1-small.webp" 
   data-item-price="{{ .Params.price }}" 
   data-item-url="{{ .Permalink }}" 

   {{ if eq .Params.productType "baby" }}
      data-item-custom1-name="Babys first name only"
      data-item-custom1-required="true" 

      data-item-custom2-name="Boy or girl?" 
      data-item-custom2-required="true" 

      data-item-custom3-name="Date format" 
      data-item-custom3-options="EU (day-month-year)(23-5-18)[+0.00]|USA (month-day-year)(5-23-18)[+0.00]" 
      data-item-custom3-required="true" 

      {{ if .Params.buttonBabyDateOfBirth }}
      data-item-custom4-name="DOB IN ABOVE FORMAT" 
      data-item-custom4-required="true" 
      {{ end }}

      {{ if .Params.buttonChristeningDate }}
      data-item-custom5-name="CHRISTENING DATE IN ABOVE FORMAT" 
      data-item-custom5-required="true" 
      {{ end }}

      {{ if .Params.buttonBabyParentsNames }}
      data-item-custom6-name="PARENTS FIRST NAMES" 
      data-item-custom6-required="true" 
      {{ end }}

      {{ if .Params.cardOption1 }}
      data-item-custom7-name="Card options" 
      data-item-custom7-options="Plain white card[+0.00]|Scallop edge (+1.00 Euro)[+1.00]"
      {{ end }}

      {{ if eq .Params.designOptions "4" }}
      data-item-custom8-name="Design options" 
      data-item-custom8-options="Please select|A|B|C|D"
      data-item-custom8-required="true" 
      {{ end }}

      {{ if eq .Params.designOptions "3" }}
      data-item-custom8-name="Design options" 
      data-item-custom8-options="Please select|A|B|C"
      data-item-custom8-required="true" 
      {{ end }}

      {{ if eq .Params.designOptions "2" }}
      data-item-custom8-name="Design options" 
      data-item-custom8-options="Please select|A|B"
      data-item-custom8-required="true" 
      {{ end }}
     
   {{ end }}

   {{ if eq .Params.productType "family" }}
   
      {{ if .Params.buttonRequiredNames }}
      data-item-custom1-name="REQUIRED NAMES" 
      data-item-custom1-required="true" 
      {{ end }}
   
   {{ end }}

   {{ if eq .Params.productType "wedding" }}
   
      {{ if .Params.buttonCoupleFirstNames }}
      data-item-custom1-name="COUPLES FIRST NAMES" 
      data-item-custom1-required="true" 
      {{ end }}

      data-item-custom2-name="Date format" 
      data-item-custom2-options="EU (day-month-year)(23-5-18)[+0.00]|USA (month-day-year)(5-23-18)[+0.00]" 
      data-item-custom2-required="true" 

      {{ if .Params.buttonWeddingDate }}
      data-item-custom3-name="WEDDING DATE IN ABOVE FORMAT" 
      data-item-custom3-required="true" 
      {{ end }}


    

      {{ if eq .Params.designOptions "4" }}
      data-item-custom8-name="Design options" 
      data-item-custom8-options="Please select|A|B|C|D"
      data-item-custom8-required="true" 
      {{ end }}

      {{ if eq .Params.designOptions "3" }}
      data-item-custom8-name="Design options" 
      data-item-custom8-options="Please select|A|B|C"
      data-item-custom8-required="true" 
      {{ end }}

      {{ if eq .Params.designOptions "2" }}
      data-item-custom8-name="Design options" 
      data-item-custom8-options="Please select|A|B"
      data-item-custom8-required="true" 
      {{ end }}


       {{ if .Params.buttonDesignOptions1 }}
      data-item-custom7-name="DESIGN OPTIONS" 
      data-item-custom7-options="Please select|{{ .Params.buttonDesignOptions1 }}[+{{ if .Params.buttonDesignOptions1PriceAddOn }}{{ .Params.buttonDesignOptions1PriceAddOn }} {{ end }}]

      |{{ if .Params.buttonDesignOptions2 }}{{ .Params.buttonDesignOptions2 }} {{ end }}[+{{ if .Params.buttonDesignOptions2PriceAddOn }}{{ .Params.buttonDesignOptions2PriceAddOn }} {{ end }}]

     |{{ if .Params.buttonDesignOptions3 }}{{ .Params.buttonDesignOptions3 }} {{ end }}[+{{ if .Params.buttonDesignOptions3PriceAddOn }}{{ .Params.buttonDesignOptions3PriceAddOn }} {{ end }}]

      |{{ if .Params.buttonDesignOptions4 }}{{ .Params.buttonDesignOptions4 }} {{ end }}[+{{ if .Params.buttonDesignOptions4PriceAddOn }}{{ .Params.buttonDesignOptions4PriceAddOn }} {{ end }}]"
      data-item-custom7-required="true" 
      {{ end }}

   {{ end }}

    {{ if eq .Params.productType "house" }}
   
      {{ if .Params.buttonCoupleInitials }}
      data-item-custom1-name="COUPLES INITIALS" 
      data-item-custom1-required="true" 
      {{ end }}

   {{ end }}

   {{ if eq .Params.productType "irish" }}

    {{ if .Params.buttonIrishOrEnglish }}
      data-item-custom1-name="Irish or English"
      data-item-custom1-required="true" 
      {{ end }}


      {{ if .Params.buttonCardPackMultiSelect1 }}
      data-item-custom7-options="Please select|{{ .Params.buttonCardPackMultiSelect1 }}[+0.00]|{{ if .Params.buttonCardPackMultiSelect2 }}{{ .Params.buttonCardPackMultiSelect2 }} {{ end }}[+0.00]|{{ if .Params.buttonCardPackMultiSelect3 }}{{ .Params.buttonCardPackMultiSelect3 }} {{ end }}|{{ if .Params.buttonCardPackMultiSelect4 }}{{ .Params.buttonCardPackMultiSelect4 }} {{ end }}" 

      data-item-custom8-name="INSERT DESIGN NUMBERS BELOW" 
      data-item-custom8-required="true" 

      {{ end }}
   
   {{ if .Params.buttonCardPackOption1 }}
      data-item-custom7-name="CARD PACK OPTIONS" 
      data-item-custom7-options="Please select|{{ .Params.buttonCardPackOption1 }}[+0.00]|{{ if .Params.buttonCardPackOption2 }}{{ .Params.buttonCardPackOption2 }} [+{{ .Params.buttonCardPackOption2Price }}]|{{ end }}{{ if .Params.buttonCardPackOption3 }}{{ .Params.buttonCardPackOption3 }} {{ end }}|{{ if .Params.buttonCardPackOption4 }}{{ .Params.buttonCardPackOption4 }} {{ end }}"
      data-item-custom7-required="true" 
      {{ end }}

     
     
   {{ end }}

    {{ if eq .Params.productType "condolence" }}


      {{ if .Params.buttonPetName }}
      data-item-custom1-name="Name Of Pet"
      data-item-custom1-required="true" 
      {{ end }}
   
      {{ if .Params.buttonDesignOptions1 }}
      data-item-custom7-name="DESIGN OPTIONS" 
      data-item-custom7-options="Please select|{{ .Params.buttonDesignOptions1 }}[+0.00]|{{ if .Params.buttonDesignOptions2 }}{{ .Params.buttonDesignOptions2 }} {{ end }}[+0.00]|{{ if .Params.buttonDesignOptions3 }}{{ .Params.buttonDesignOptions3 }} {{ end }}|{{ if .Params.buttonDesignOptions4 }}{{ .Params.buttonDesignOptions4 }} {{ end }}"
      data-item-custom7-required="true" 
      {{ end }}

      
   {{ end }}

   
   data-item-custom9-name="Message to Shauna Gra" 
   data-item-custom9-type="textarea">
<span class="buyNowButton shopping-buttons-color">ADD TO CART</span>
</a>
{{ end }}





