<div class="row shop-product-single">
   <div class="col-md-6">
      {{ partial "product/product-gallery.html" . }}
   </div>
   <div class="col-md-6">
     {{ partial "product/product-stats-and-price.html" . }}
      <!--<img src="{{ "img/digital-download.png" | relURL }}" class="img-responsive digital-download-image" alt="">-->
      {{ partial "product/product-add-to-cart-buttons.html" . }}
      <aside class="members-discount">
         <p>Or sign up for 20% OFF</p>
      <a href="{{ "/signup/" | relURL }}" class="btn btn-template-main btn-top-page">GET DISCOUNT</a>
      </aside>
      <br>
      {{ partial "share-buttons.html" . }}
   </div>

</div>
<br>
 {{ .Params.description }}