<img src="{{ .Page.Params.image }}.webp" class="openMainImage img-responsive" alt="">
<!-- Img on which you want to trigger carousel -->
<div class="carousel-row">
   <div class="carousel-row--img">
      <picture>
         <source
            data-srcset="{{ .Page.Params.image }}-1-small.webp">
         <!-- Fallback -->
         <img
            data-src="{{ .Page.Params.image }}-1-small.png"
            data-srcset="{{ .Page.Params.image }}-1-small.png"
            alt="{{ .Page.Params.alt }}" class="{{ .Page.Params.class }}">
      </picture>
   </div>
   <div class="carousel-row--img">
      <picture>
         <source
            data-srcset="{{ .Page.Params.image }}-2-small.webp">
         <!-- Fallback -->
         <img
            data-src="{{ .Page.Params.image }}-2-small.png"
            data-srcset="{{ .Page.Params.image }}-2-small.png"
            alt="{{ .Page.Params.alt }}" class="{{ .Page.Params.class }}">
      </picture>
   </div>
   <div class="carousel-row--img">
      <picture>
         <source
            data-srcset="{{ .Page.Params.image }}-3-small.webp">
         <!-- Fallback -->
         <img
            data-src="{{ .Page.Params.image }}-3-small.png"
            data-srcset="{{ .Page.Params.image }}-3-small.png"
            alt="{{ .Page.Params.alt }}" class="{{ .Page.Params.class }}">
      </picture>
   </div>
   <div class="carousel-row--img">
      <picture>
         <source
            data-srcset="{{ .Page.Params.image }}-4-small.webp">
         <!-- Fallback -->
         <img
            data-src="{{ .Page.Params.image }}-4-small.png"
            data-srcset="{{ .Page.Params.image }}-4-small.png"
            alt="{{ .Page.Params.alt }}" class="{{ .Page.Params.class }}">
      </picture>
   </div>
   <div class="carousel-row--img">
      <picture>
         <source
            data-srcset="{{ .Page.Params.image }}-5-small.webp">
         <!-- Fallback -->
         <img
            data-src="{{ .Page.Params.image }}-5-small.png"
            data-srcset="{{ .Page.Params.image }}-5-small.png"
            alt="{{ .Page.Params.alt }}" class="{{ .Page.Params.class }}">
      </picture>
   </div>
</div>
<div class="carousel-row">
   <div class="carousel-row--img">
      <picture>
         <source
            data-srcset="{{ .Page.Params.image }}-6-small.webp">
         <!-- Fallback -->
         <img
            data-src="{{ .Page.Params.image }}-6-small.png"
            data-srcset="{{ .Page.Params.image }}-6-small.png"
            alt="{{ .Page.Params.alt }}" class="{{ .Page.Params.class }}">
      </picture>
   </div>
   
   <div class="carousel-row--img">
      <picture>
         <source
            data-srcset="/img/frames/common/1-small.webp">
         <!-- Fallback -->
         <img
            data-src="/img/frames/common/1-small.png"
            data-srcset="/img/frames/common/1-small.png"
            alt="{{ .Page.Params.alt }}" class="{{ .Page.Params.class }}">
      </picture>
   </div>
   <div class="carousel-row--img">
      <picture>
         <source
            data-srcset="/img/frames/common/2-small.webp">
         <!-- Fallback -->
         <img
            data-src="/img/frames/common/2-small.png"
            data-srcset="/img/frames/common/2-small.png"
            alt="{{ .Page.Params.alt }}" class="{{ .Page.Params.class }}">
      </picture>
   </div>
   <div class="carousel-row--img">
      <picture>
         <source
            data-srcset="/img/frames/common/3-small.webp">
         <!-- Fallback -->
         <img
            data-src="/img/frames/common/3-small.png"
            data-srcset="/img/frames/common/3-small.png"
            alt="{{ .Page.Params.alt }}" class="{{ .Page.Params.class }}">
      </picture>
   </div>
    <div class="carousel-row--img">
      <picture>
         <source
            data-srcset="/img/frames/common/4-small.webp">
         <!-- Fallback -->
         <img
            data-src="/img/frames/common/4-small.png"
            data-srcset="/img/frames/common/4-small.png"
            alt="{{ .Page.Params.alt }}" class="{{ .Page.Params.class }}">
      </picture>
   </div>
</div>
<!-- The Modal/Lightbox actual slides that show full-->
<div id="myModal" class="modal no-select">
   <span class="close cursor">&times;</span>
   <!-- Next/previous controls -->
   <a class="prev no-select">&#10094;</a>
   <a class="nextPage no-select">&#10095;</a>
   <div class="modal-content">
      <div class="my-slides">
         <div class="my-slides--number"></div>
         <picture>
            <source
               data-srcset="{{ .Page.Params.image }}-1-large.webp">
            <!-- Fallback -->
            <img
               data-src="{{ .Page.Params.image }}-1-large.png"
               data-srcset="{{ .Page.Params.image }}-1-large.png"
               alt="{{ .Page.Params.alt }}" class="{{ .Page.Params.class }}">
         </picture>
      </div>
      <div class="my-slides">
         <div class="my-slides--number"></div>
         <picture>
            <source
               data-srcset="{{ .Page.Params.image }}-2-large.webp">
            <!-- Fallback -->
            <img
               data-src="{{ .Page.Params.image }}-2-large.png"
               data-srcset="{{ .Page.Params.image }}-2-large.png"
               alt="{{ .Page.Params.alt }}" class="{{ .Page.Params.class }}">
         </picture>
      </div>
      <div class="my-slides">
         <div class="my-slides--number"></div>
         <picture>
            <source
               data-srcset="{{ .Page.Params.image }}-3-large.webp">
            <!-- Fallback -->
            <img
               data-src="{{ .Page.Params.image }}-3-large.png"
               data-srcset="{{ .Page.Params.image }}-3-large.png"
               alt="{{ .Page.Params.alt }}" class="{{ .Page.Params.class }}">
         </picture>
      </div>
      <div class="my-slides">
         <div class="my-slides--number"></div>
         <picture>
            <source
               data-srcset="{{ .Page.Params.image }}-4-large.webp">
            <!-- Fallback -->
            <img
               data-src="{{ .Page.Params.image }}-4-large.png"
               data-srcset="{{ .Page.Params.image }}-4-large.png"
               alt="{{ .Page.Params.alt }}" class="{{ .Page.Params.class }}">
         </picture>
      </div>
      <div class="my-slides">
         <div class="my-slides--number"></div>
         <picture>
            <source
               data-srcset="{{ .Page.Params.image }}-5-large.webp">
            <!-- Fallback -->
            <img
               data-src="{{ .Page.Params.image }}-5-large.png"
               data-srcset="{{ .Page.Params.image }}-5-large.png"
               alt="{{ .Page.Params.alt }}" class="{{ .Page.Params.class }}">
         </picture>
      </div>
      <div class="my-slides">
         <div class="my-slides--number"></div>
         <picture>
            <source
               data-srcset="{{ .Page.Params.image }}-6-large.webp">
            <!-- Fallback -->
            <img
               data-src="{{ .Page.Params.image }}-6-large.png"
               data-srcset="{{ .Page.Params.image }}-6-large.png"
               alt="{{ .Page.Params.alt }}" class="{{ .Page.Params.class }}">
         </picture>
      </div>
      
      <div class="my-slides">
         <div class="my-slides--number"></div>
         <picture>
            <source
               data-srcset="/img/frames/common/1.webp">
            <!-- Fallback -->
            <img
               data-src="/img/frames/common/1.png"
               data-srcset="/img/frames/common/1.png"
               alt="{{ .Page.Params.alt }}" class="{{ .Page.Params.class }}">
         </picture>
      </div>
      <div class="my-slides">
         <div class="my-slides--number"></div>
         <picture>
            <source
               data-srcset="/img/frames/common/2.webp">
            <!-- Fallback -->
            <img
               data-src="/img/frames/common/2.png"
               data-srcset="/img/frames/common/2.png"
               alt="{{ .Page.Params.alt }}" class="{{ .Page.Params.class }}">
         </picture>
      </div>
      <div class="my-slides">
         <div class="my-slides--number"></div>
         <picture>
            <source
               data-srcset="/img/frames/common/3.webp">
            <!-- Fallback -->
            <img
               data-src="/img/frames/common/3.png"
               data-srcset="/img/frames/common/3.png"
               alt="{{ .Page.Params.alt }}" class="{{ .Page.Params.class }}">
         </picture>
      </div>
      <div class="my-slides">
         <div class="my-slides--number"></div>
         <picture>
            <source
               data-srcset="/img/frames/common/4.webp">
            <!-- Fallback -->
            <img
               data-src="/img/frames/common/4.png"
               data-srcset="/img/frames/common/4.png"
               alt="{{ .Page.Params.alt }}" class="{{ .Page.Params.class }}">
         </picture>
      </div>
      <!-- Caption text -->
      <div class="caption-container">
         <p id="caption"></p>
      </div>
      <!-- Thumbnail image controls when slideshow is open-->
      <div class="column-box">
         <div class="column">
            <picture>
               <source
                  data-srcset="{{ .Page.Params.image }}-1-small.webp">
               <!-- Fallback -->
               <img
                  data-src="{{ .Page.Params.image }}-1-small.png"
                  data-srcset="{{ .Page.Params.image }}-1-small.png"
                  alt="{{ .Page.Params.alt }}" class="lazy demo">
            </picture>
         </div>
         <div class="column">
            <picture>
               <source
                  data-srcset="{{ .Page.Params.image }}-2-small.webp">
               <!-- Fallback -->
               <img
                  data-src="{{ .Page.Params.image }}-2-small.png"
                  data-srcset="{{ .Page.Params.image }}-2-small.png"
                  alt="{{ .Page.Params.alt }}" class="lazy demo">
            </picture>
         </div>
         <div class="column">
            <picture>
               <source
                  data-srcset="{{ .Page.Params.image }}-3-small.webp">
               <!-- Fallback -->
               <img
                  data-src="{{ .Page.Params.image }}-3-small.png"
                  data-srcset="{{ .Page.Params.image }}-3-small.png"
                  alt="{{ .Page.Params.alt }}" class="lazy demo">
            </picture>
         </div>
         <div class="column">
            <picture>
               <source
                  data-srcset="{{ .Page.Params.image }}-4-small.webp">
               <!-- Fallback -->
               <img
                  data-src="{{ .Page.Params.image }}-4-small.png"
                  data-srcset="{{ .Page.Params.image }}-4-small.png"
                  alt="{{ .Page.Params.alt }}" class="lazy demo">
            </picture>
         </div>
         <div class="column">
            <picture>
               <source
                  data-srcset="{{ .Page.Params.image }}-5-small.webp">
               <!-- Fallback -->
               <img
                  data-src="{{ .Page.Params.image }}-5-small.png"
                  data-srcset="{{ .Page.Params.image }}-5-small.png"
                  alt="{{ .Page.Params.alt }}" class="lazy demo">
            </picture>
         </div>
         <div class="column">
            <picture>
               <source
                  data-srcset="{{ .Page.Params.image }}-6-small.webp">
               <!-- Fallback -->
               <img
                  data-src="{{ .Page.Params.image }}-6-small.png"
                  data-srcset="{{ .Page.Params.image }}-6-small.png"
                  alt="{{ .Page.Params.alt }}" class="lazy demo">
            </picture>
         </div>
      
         <div class="column">
            <picture>
               <source
                  data-srcset="/img/frames/common/1-small.webp">
               <!-- Fallback -->
               <img
                  data-src="/img/frames/common/1-small.png"
                  data-srcset="/img/frames/common/1-small.png"
                  alt="{{ .Page.Params.alt }}" class="lazy demo">
            </picture>
         </div>
         <div class="column">
            <picture>
               <source
                  data-srcset="/img/frames/common/2-small.webp">
               <!-- Fallback -->
               <img
                  data-src="/img/frames/common/2-small.png"
                  data-srcset="/img/frames/common/2-small.png"
                  alt="{{ .Page.Params.alt }}" class="lazy demo">
            </picture>
         </div>
         <div class="column">
            <picture>
               <source
                  data-srcset="/img/frames/common/3-small.webp">
               <!-- Fallback -->
               <img
                  data-src="/img/frames/common/3-small.png"
                  data-srcset="/img/frames/common/3-small.png"
                  alt="{{ .Page.Params.alt }}" class="lazy demo">
            </picture>
         </div>
          <div class="column">
            <picture>
               <source
                  data-srcset="/img/frames/common/4-small.webp">
               <!-- Fallback -->
               <img
                  data-src="/img/frames/common/4-small.png"
                  data-srcset="/img/frames/common/4-small.png"
                  alt="{{ .Page.Params.alt }}" class="lazy demo">
            </picture>
         </div>
      </div>
   </div>
</div>