<section class="grid grid-main">
  
  <div class="normal-width-element">
    <ul class="list-reset filter-list">

      {{ $current := . }}
      {{ if in .RelPermalink "/frames/" }}

      {{ range (readDir "content/frames/") }}
      {{ if .IsDir }}
      <li><a href="{{ "/frames/" | relURL }}{{ .Name | urlize | lower }}" {{ if in $current.RelPermalink (.Name |
          urlize | lower | printf "/frames/%s/" ) }} class="filter-buttons active-filter" {{ end }}
          class="filter-buttons">{{ .Name }}</a> </li>
      {{ end }}
      {{ end }}

      {{ else if in .RelPermalink "/cards/" }}
      {{ range (readDir "content/cards/") }}
      {{ if .IsDir }}
      <li><a href="{{ "/cards/" | relURL }}{{ .Name | urlize | lower }}" {{ if in $current.RelPermalink (.Name | urlize
          | lower | printf "/cards/%s/" ) }} class="filter-buttons active-filter" {{ end }} class="filter-buttons">{{
          .Name }}</a></li>
      {{ end }}
      {{ end }}

      {{ else if in .RelPermalink "/prints/" }}
      {{ range (readDir "content/prints/") }}
      {{ if .IsDir }}
      <li><a href="{{ "/prints/" | relURL }}{{ .Name | urlize | lower }}" {{ if in $current.RelPermalink (.Name |
          urlize | lower | printf "/prints/%s/" ) }} class="filter-buttons active-filter" {{ end }}
          class="filter-buttons">{{ .Name }}</a> </li>
      {{ end }}
      {{ end }}

      {{ end }}
    </ul>

    <!-- Control buttons -->
    {{ if eq .RelPermalink "/cards/birthday/" }}
   
   
    <div id="myBtnContainer">
      <button class="btn-filter active" onclick="filterSelection('all')">All</button>
      <button class="btn-filter" onclick="filterSelection('age-1-5')">1-5</button>
      <button class="btn-filter" onclick="filterSelection('age-6-10')">6-10</button>
      <button class="btn-filter" onclick="filterSelection('age-11-20')">11-20</button>
      <button class="btn-filter" onclick="filterSelection('age-21')">21</button>
      <button class="btn-filter" onclick="filterSelection('age-30-60')">30-60</button>
      <button class="btn-filter" onclick="filterSelection('age-70-100')">70-100</button>
    </div>
   
    {{end}}
   
  </div>


</section>

