<section class="post">
                            <div class="row blog-row">
                                <div class="col-md-4">
                                  <div>
                                      <a href="{{ .Permalink }}">
                                          {{ if .Params.image }}
                                          {{ partial "imgSrcset.html" . }}
                                          {{ else }}
                                          <img src="{{ "img/placeholder.png" | relURL }}" class="img-responsive" alt="">
                                          {{ end }}
                                      </a>
                                  </div>
                                </div>
                                <div class="col-md-8">
                                    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                                    <div class="clearfix">
                                        <p class="author-category">
                                          {{ if isset .Params "author" }}
                                          {{ i18n "authorBy" }} <a href="#">{{ .Params.author }}</a>
                                          {{ end }}
                                          {{ if isset .Params "categories" }}
                                          {{ if gt (len .Params.categories) 0 }}
                                          in 
                                          {{ range $index, $category := .Params.categories }}{{ if $index }}, {{ end }}
                                              <a href="{{ "categories/" | relURL }}{{ . | urlize | lower }}">{{ $category }}</a>{{ end }}
                                          {{ end }}
                                          {{ end }}

                                        </p>
                                        {{ if isset .Params "date" }}
                                        <p class="date-comments">
                                            <a href="{{ .Permalink }}"><i class="far fa-calendar"></i> {{ .Date.Format .Site.Params.date_format }}</a>
                                        </p>
                                        {{ end }}
                                    </div>
                                    <p class="intro">{{ .Params.description }}</p>

                                    <hr class="prod-box-line">
                                    <p class="read-more"><a href="{{ .Permalink }}" class="btn btn-template-main">{{ i18n "continueReading" }}</a>
                                    </p>
                                </div>
                            </div>
                        </section>