
<section>
    <div>
        <div class="row">
            <div class="col-md-12">
               
                <div class="row">
                  <div class="col-md-12">
                     <div class="row ">
                        <div class="col-md-4">
                           <h2>Custom Orders</h2>
                           <a title="Shauna Gra" href="#How-do-I-request-a-custom-frame/card">
                              <h4 class="`h4-faq-link">
                                 <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                 How do I request a custom frame/card
                              </h4>
                           </a>
                           <a title="Shauna Gra" href="#What-customisations-are-possible">
                              <h4 class="">
                                 <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                 What customisations are possible
                              </h4>
                           </a>
                           <a title="Shauna Gra" href="#How-long-will-the-order-take-to-process">
                              <h4 class="">
                                 <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                 How long will the order take to process
                              </h4>
                           </a>
                           <a title="Shauna Gra" href="#How-will-I-pay-to-purchase">
                              <h4 class="">
                                 <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                 How will I pay to purchase
                              </h4>
                           </a>
                           <a title="Shauna Gra" href="#Can-I-return-a-custom-order">
                              <h4 class="">
                                 <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                 Can I return a custom order
                              </h4>
                           </a>
                        </div>
                        <div class="col-md-4">
                           <h2>Frames</h2>
                           <a title="Shauna Gra" href="#Are-they-good-quality">
                              <h4 class="">
                                 <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                 Are they good quality
                              </h4>
                           </a>
                           <a title="Shauna Gra" href="#How-do-I-hang-them">
                              <h4 class="">
                                 <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                 How do I hang them
                              </h4>
                           </a>
                           <a title="Shauna Gra" href="#Do-you-provide-hanging-hooks">
                              <h4 class="">
                                 <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                 Do you provide hanging hooks
                              </h4>
                           </a>
                           <a title="Shauna Gra" href="#What-sizes-are-available">
                              <h4 class="">
                                 <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                 What sizes are available
                              </h4>
                           </a>
                           <a title="Shauna Gra" href="#What-colors-are-available">
                              <h4 class="">
                                 <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                 What colors are available
                              </h4>
                           </a>
                        </div>
                        <div class="col-md-4">
                           <h2>Cards</h2>
                           <a title="Shauna Gra" href="#Are-they-good-quality-cards">
                              <h4 class="">
                                 <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                 Are they good quality cards
                              </h4>
                           </a>
                           <a title="Shauna Gra" href="#What-card-sizes-are-available">
                              <h4 class="">
                                 <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                 What card sizes are available
                              </h4>
                           </a>
                           <a title="Shauna Gra" href="#What-color-are-the-cards">
                              <h4 class="">
                                 <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                 What color are the cards
                              </h4>
                           </a>
                           <a title="Shauna Gra" href="#What-can-I-have-on-the-card">
                              <h4 class="">
                                 <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                 What can I have on the card
                              </h4>
                           </a>
                           <a title="Shauna Gra" href="#Do-you-supply-an-envelope">
                              <h4 class="">
                                 <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                 Do you supply an envelope
                              </h4>
                           </a>
                        </div>
                     </div>
                     <h2>Custom Orders</h2>
                     <a class="anchor" id="How-do-I-request-a-custom-frame/card"></a>
                     <h3 class="">How do I request a custom frame/card</h3>
                     <p>Please contact us to request a custom order, we will discuss the frames/cards, backgrounds, embellishments and any other additions you would like for your gift.</p>
                     <a class="anchor" id="What-customisations-are-possible"></a>
                     <h3 class="">What customisations are
                        possible
                     </h3>
                     <p>For frames and cards, we can combine any of the embellishments/letters with any background, please browse our frames and cards to get ideas as to what you would like. We have many other embellishments also which are not on our website, please ask for details if you have something in mind.
                     </p>
                     <a class="anchor" id="How-long-will-the-order-take-to-process"></a>
                     <h3 class="">How long will the
                        order take to process
                     </h3>
                     <p>One to two weeks, depending on the amount of customisation required.
                     </p>
                     <a class="anchor" id="How-will-I-pay-to-purchase"></a>
                     <h3 class="">How will I pay to purchase</h3>
                     <p>We will place the item in the store (only you will see it) then you purchase it online like the rest of our products. If you sign off on it that you are happy you may purchase it.</p>
                     <a class="anchor" id="Can-I-return-a-custom-order"></a>
                     <h3 class="">Can I return a custom order</h3>
                     <p>No, as we cannot sell it to anyone else.</p>
                     <h2>Frames</h2>
                     <a class="anchor" id="Are-they-good-quality"></a>
                     <h3 class="">Are they good quality</h3>
                     <p>Yes, the frames are of high quality timber, they are rigid and strong, we don't purchase cheap materials.</p>
                     <a class="anchor" id="How-do-I-hang-them"></a>
                     <h3 class="">How do I hang them</h3>
                     <p>All the frames come with a back hook attached. Some of our frames can be wall mounted or freestanding. Please see the frame photos for more examples. You just need a hook on your wall to mount the frame.</p>
                     <a class="anchor" id="Do-you-provide-hanging-hooks"></a>
                     <h3 class="">Do you provide hanging hooks</h3>
                     <p>No, you can purchase hanging hooks in most diy stores.
                     </p>
                     <a class="anchor" id="What-sizes-are-available"></a>
                     <h3 class="">What sizes are available</h3>
                     <p>23cm x 23cm, 15cm x 20cm</p>
                     <a class="anchor" id="What-colors-are-available"></a>
                     <h3 class="">What colours are available</h3>
                     <p>White, Black, Timber, (please see frame photos for examples)</p>
                     <h2>Cards</h2>
                     <a class="anchor" id="Are-they-good-quality-cards"></a>
                     <h3 class="">Are they good quality cards</h3>
                     <p>Yes, they are strong and have a gsm from 250 up to 300 thick.</p>
                     <a class="anchor" id="What-card-sizes-are-available"></a>
                     <h3 class="">What card sizes are
                        available
                     </h3>
                     <p>6 by 6 and 5 by 7 inches.</p>
                     <a class="anchor" id="What-color-are-the-cards"></a>
                     <h3 class="">What colour are the cards</h3>
                     <p>White or Cream. We have a few on brown recycled card.</p>
                     <a class="anchor" id="What-can-I-have-on-the-card"></a>
                     <h3 class="">What can I have on the card</h3>
                     <p>Any embellishment you see on the site on a frame or card. Please contact us if you have a particular request.</p>
                     <a class="anchor" id="Do-you-supply-an-envelope"></a>
                     <h3 class="">Do you supply an envelope</h3>
                     <p>All cards come with an envelope of the same colour.</p>
                  </div>
               </div>
                <!-- /.owl-carousel -->

                <!-- *** TESTIMONIALS CAROUSEL END *** -->
            </div>

        </div>
    </div>
</section>
<!-- /.bar -->

