{{ define "main" }}
<main>
 
  
  {{ partial "product/top-filter-buttons.html" . }}

  
  

  <section class="grid grid-main">
    <aside class="normal-width-element">
      {{ if eq .RelPermalink "/cards/" }}
      {{$type :=""}}
      {{ $section := site.GetPage "cards" }}
      {{ range $section.Pages }}
      {{ $type = .Type }}
      {{ partial "product/list-section-heading.html" . }}
      <ul class="grid grid-products padding-small text-center list-reset">
        {{ range (where .Site.Pages "Type" "cards") }}
        {{ if eq .Params.productType $type }}
        {{ partial "product/productThumbnail.html" . }}
        {{ end }}
        {{ end }}
      </ul>
      {{ end }}
      {{else}}

      {{$type :=""}}
      {{ $type = .Type }}
 
      <section class="grid grid-main">
        <article class="normal-width-element">
          {{ partial "product/list-section-heading.html" . }}
          <ul class="grid grid-products padding-small text-center list-reset">
            {{ range (where .Site.Pages "Type" "cards") }}
            {{ if eq .Params.productType $type }}
            {{ partial "product/productThumbnail.html" . }}
            {{ end }}
            {{ end }}
          </ul>
        </article>
      </section>
      {{end}}

    </aside>
  </section>



</main>
{{end}}